In [135]:
import polars as pl

data = "../data/data.json"

df = pl.read_json(data)
df

shape: (250, 24)
┌───────────┬────────────┬────────────┬───────────┬───┬─────────┬───────────┬───────────┬──────────┐
│ id        ┆ url        ┆ primaryTit ┆ originalT ┆ … ┆ isAdult ┆ runtimeMi ┆ averageRa ┆ numVotes │
│ ---       ┆ ---        ┆ le         ┆ itle      ┆   ┆ ---     ┆ nutes     ┆ ting      ┆ ---      │
│ str       ┆ str        ┆ ---        ┆ ---       ┆   ┆ bool    ┆ ---       ┆ ---       ┆ i64      │
│           ┆            ┆ str        ┆ str       ┆   ┆         ┆ i64       ┆ f64       ┆          │
╞═══════════╪════════════╪════════════╪═══════════╪═══╪═════════╪═══════════╪═══════════╪══════════╡
│ tt0111161 ┆ https://ww ┆ The        ┆ The       ┆ … ┆ false   ┆ 142       ┆ 9.3       ┆ 3019758  │
│           ┆ w.imdb.com ┆ Shawshank  ┆ Shawshank ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt0 ┆ Redemption ┆ Redemptio ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆ n         ┆   ┆         ┆           ┆           ┆          │
│ tt0068646 ┆ https://ww ┆ The        ┆ The       ┆ … ┆ false   ┆ 175       ┆ 9.2       ┆ 2107434  │
│           ┆ w.imdb.com ┆ Godfather  ┆ Godfather ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt0 ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│ tt0468569 ┆ https://ww ┆ The Dark   ┆ The Dark  ┆ … ┆ false   ┆ 152       ┆ 9.0       ┆ 2996039  │
│           ┆ w.imdb.com ┆ Knight     ┆ Knight    ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt0 ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│ tt0071562 ┆ https://ww ┆ The        ┆ The       ┆ … ┆ false   ┆ 202       ┆ 9.0       ┆ 1419319  │
│           ┆ w.imdb.com ┆ Godfather  ┆ Godfather ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt0 ┆ Part II    ┆ Part II   ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│ tt0050083 ┆ https://ww ┆ 12 Angry   ┆ 12 Angry  ┆ … ┆ false   ┆ 96        ┆ 9.0       ┆ 916629   │
│           ┆ w.imdb.com ┆ Men        ┆ Men       ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt0 ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│ …         ┆ …          ┆ …          ┆ …         ┆ … ┆ …       ┆ …         ┆ …         ┆ …        │
│ tt5323662 ┆ https://ww ┆ A Silent   ┆ Koe no    ┆ … ┆ false   ┆ 130       ┆ 8.1       ┆ 116834   │
│           ┆ w.imdb.com ┆ Voice: The ┆ katachi   ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt5 ┆ Movie      ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│ tt1454029 ┆ https://ww ┆ The Help   ┆ The Help  ┆ … ┆ false   ┆ 146       ┆ 8.1       ┆ 509794   │
│           ┆ w.imdb.com ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt1 ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│ tt0245712 ┆ https://ww ┆ Amores     ┆ Amores    ┆ … ┆ false   ┆ 154       ┆ 8.0       ┆ 261026   │
│           ┆ w.imdb.com ┆ Perros     ┆ perros    ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt0 ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│ tt0032976 ┆ https://ww ┆ Rebecca    ┆ Rebecca   ┆ … ┆ false   ┆ 130       ┆ 8.1       ┆ 153257   │
│           ┆ w.imdb.com ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt0 ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│ tt1954470 ┆ https://ww ┆ Gangs of   ┆ Gangs of  ┆ … ┆ false   ┆ 321       ┆ 8.2       ┆ 106973   │
│           ┆ w.imdb.com ┆ Wasseypur  ┆ Wasseypur ┆   ┆         ┆           ┆           ┆          │
│           ┆ /title/tt1 ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
│           ┆ …          ┆            ┆           ┆   ┆         ┆           ┆           ┆          │
└───────────┴────────────┴────────────┴───────────┴───┴─────────┴───────────┴───────────┴──────────┘

In [136]:
df.columns

['id',
 'url',
 'primaryTitle',
 'originalTitle',
 'type',
 'description',
 'primaryImage',
 'contentRating',
 'startYear',
 'endYear',
 'releaseDate',
 'interests',
 'countriesOfOrigin',
 'externalLinks',
 'spokenLanguages',
 'filmingLocations',
 'productionCompanies',
 'budget',
 'grossWorldwide',
 'genres',
 'isAdult',
 'runtimeMinutes',
 'averageRating',
 'numVotes']

After carefully looking at the columns and data, I decided to have six tables:  

### **Table 1: movies**  
- id  
- primaryTitle  
- originalTitle  
- type  
- description  
- primaryImage  
- ContentRating  
- isAdult  
- runtimeMinutes  

### **Table 2: movie_dates**  
- movie_id  
- startYear  
- endYear  
- releaseDate  

### **Table 3: movie_financials**  
- movie_id  
- budget  
- grossWorldwide  

### **Table 4: production**  
- movie_id  
- filmingLocations  
- productionCompanies  

### **Table 5: external_links**  
- movie_id  
- url  

### **Table 6: user_interactions**  
- movie_id  
- interest  
- rating  
- upvote

In [137]:
# https://docs.pola.rs/api/python/stable/reference/dataframe/api/polars.DataFrame.null_count.html

df.null_count()

shape: (1, 24)
┌─────┬─────┬──────────────┬───────────────┬───┬─────────┬───────────────┬──────────────┬──────────┐
│ id  ┆ url ┆ primaryTitle ┆ originalTitle ┆ … ┆ isAdult ┆ runtimeMinute ┆ averageRatin ┆ numVotes │
│ --- ┆ --- ┆ ---          ┆ ---           ┆   ┆ ---     ┆ s             ┆ g            ┆ ---      │
│ u32 ┆ u32 ┆ u32          ┆ u32           ┆   ┆ u32     ┆ ---           ┆ ---          ┆ u32      │
│     ┆     ┆              ┆               ┆   ┆         ┆ u32           ┆ u32          ┆          │
╞═════╪═════╪══════════════╪═══════════════╪═══╪═════════╪═══════════════╪══════════════╪══════════╡
│ 0   ┆ 0   ┆ 0            ┆ 0             ┆ … ┆ 0       ┆ 0             ┆ 0            ┆ 0        │
└─────┴─────┴──────────────┴───────────────┴───┴─────────┴───────────────┴──────────────┴──────────┘

In [138]:
df.schema

Schema([('id', String),
        ('url', String),
        ('primaryTitle', String),
        ('originalTitle', String),
        ('type', String),
        ('description', String),
        ('primaryImage', String),
        ('contentRating', String),
        ('startYear', Int64),
        ('endYear', Null),
        ('releaseDate', String),
        ('interests', List(String)),
        ('countriesOfOrigin', List(String)),
        ('externalLinks', List(String)),
        ('spokenLanguages', List(String)),
        ('filmingLocations', List(String)),
        ('productionCompanies', List(Struct({'id': String, 'name': String}))),
        ('budget', Int64),
        ('grossWorldwide', Int64),
        ('genres', List(String)),
        ('isAdult', Boolean),
        ('runtimeMinutes', Int64),
        ('averageRating', Float64),
        ('numVotes', Int64)])

In [139]:
# Table 1: movies
# - id  
# - primaryTitle  
# - originalTitle  
# - type  
# - description  
# - primaryImage  
# - ContentRating  
# - isAdult  
# - runtimeMinutes 

movies_df = df.select(['id', 'url','primaryTitle','originalTitle','type','description',\
           'primaryImage','contentRating','isAdult','runtimeMinutes'])

movies_df.head()

shape: (5, 10)
┌───────────┬────────────┬───────────┬───────────┬───┬───────────┬───────────┬─────────┬───────────┐
│ id        ┆ url        ┆ primaryTi ┆ originalT ┆ … ┆ primaryIm ┆ contentRa ┆ isAdult ┆ runtimeMi │
│ ---       ┆ ---        ┆ tle       ┆ itle      ┆   ┆ age       ┆ ting      ┆ ---     ┆ nutes     │
│ str       ┆ str        ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ bool    ┆ ---       │
│           ┆            ┆ str       ┆ str       ┆   ┆ str       ┆ str       ┆         ┆ i64       │
╞═══════════╪════════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═════════╪═══════════╡
│ tt0111161 ┆ https://ww ┆ The       ┆ The       ┆ … ┆ https://m ┆ R         ┆ false   ┆ 142       │
│           ┆ w.imdb.com ┆ Shawshank ┆ Shawshank ┆   ┆ .media-am ┆           ┆         ┆           │
│           ┆ /title/tt0 ┆ Redemptio ┆ Redemptio ┆   ┆ azon.com/ ┆           ┆         ┆           │
│           ┆ …          ┆ n         ┆ n         ┆   ┆ ima…      ┆           ┆         ┆           │
│ tt0068646 ┆ https://ww ┆ The       ┆ The       ┆ … ┆ https://m ┆ R         ┆ false   ┆ 175       │
│           ┆ w.imdb.com ┆ Godfather ┆ Godfather ┆   ┆ .media-am ┆           ┆         ┆           │
│           ┆ /title/tt0 ┆           ┆           ┆   ┆ azon.com/ ┆           ┆         ┆           │
│           ┆ …          ┆           ┆           ┆   ┆ ima…      ┆           ┆         ┆           │
│ tt0468569 ┆ https://ww ┆ The Dark  ┆ The Dark  ┆ … ┆ https://m ┆ PG-13     ┆ false   ┆ 152       │
│           ┆ w.imdb.com ┆ Knight    ┆ Knight    ┆   ┆ .media-am ┆           ┆         ┆           │
│           ┆ /title/tt0 ┆           ┆           ┆   ┆ azon.com/ ┆           ┆         ┆           │
│           ┆ …          ┆           ┆           ┆   ┆ ima…      ┆           ┆         ┆           │
│ tt0071562 ┆ https://ww ┆ The       ┆ The       ┆ … ┆ https://m ┆ R         ┆ false   ┆ 202       │
│           ┆ w.imdb.com ┆ Godfather ┆ Godfather ┆   ┆ .media-am ┆           ┆         ┆           │
│           ┆ /title/tt0 ┆ Part II   ┆ Part II   ┆   ┆ azon.com/ ┆           ┆         ┆           │
│           ┆ …          ┆           ┆           ┆   ┆ ima…      ┆           ┆         ┆           │
│ tt0050083 ┆ https://ww ┆ 12 Angry  ┆ 12 Angry  ┆ … ┆ https://m ┆ Approved  ┆ false   ┆ 96        │
│           ┆ w.imdb.com ┆ Men       ┆ Men       ┆   ┆ .media-am ┆           ┆         ┆           │
│           ┆ /title/tt0 ┆           ┆           ┆   ┆ azon.com/ ┆           ┆         ┆           │
│           ┆ …          ┆           ┆           ┆   ┆ ima…      ┆           ┆         ┆           │
└───────────┴────────────┴───────────┴───────────┴───┴───────────┴───────────┴─────────┴───────────┘

In [140]:
len(df)

250

In [141]:
# https://www.geeksforgeeks.org/what-is-the-equivalent-of-dataframedropduplicates-from-pandas-in-polars/
df = df.unique(subset=["id"], keep="first")
len(df)

250

In [142]:
df.filter(df.is_duplicated())

shape: (0, 24)
┌─────┬─────┬──────────────┬───────────────┬───┬─────────┬───────────────┬──────────────┬──────────┐
│ id  ┆ url ┆ primaryTitle ┆ originalTitle ┆ … ┆ isAdult ┆ runtimeMinute ┆ averageRatin ┆ numVotes │
│ --- ┆ --- ┆ ---          ┆ ---           ┆   ┆ ---     ┆ s             ┆ g            ┆ ---      │
│ str ┆ str ┆ str          ┆ str           ┆   ┆ bool    ┆ ---           ┆ ---          ┆ i64      │
│     ┆     ┆              ┆               ┆   ┆         ┆ i64           ┆ f64          ┆          │
╞═════╪═════╪══════════════╪═══════════════╪═══╪═════════╪═══════════════╪══════════════╪══════════╡
└─────┴─────┴──────────────┴───────────────┴───┴─────────┴───────────────┴──────────────┴──────────┘

In [143]:
# Table 2: movie_dates
# - movie_id  
# - startYear  
# - endYear - contains nulls
# - releaseDate  
movies_date = df.select(['id','startYear','releaseDate'])

# format realease data to datetime
# https://docs.pola.rs/api/python/dev/reference/expressions/api/polars.Expr.str.to_datetime.html
movies_date = movies_date.with_columns(
    pl.col("releaseDate").str.to_date("%Y-%m-%d")
)
movies_date.head()

shape: (5, 3)
┌───────────┬───────────┬─────────────┐
│ id        ┆ startYear ┆ releaseDate │
│ ---       ┆ ---       ┆ ---         │
│ str       ┆ i64       ┆ date        │
╞═══════════╪═══════════╪═════════════╡
│ tt0266543 ┆ 2003      ┆ 2003-05-30  │
│ tt0080684 ┆ 1980      ┆ 1980-06-18  │
│ tt7286456 ┆ 2019      ┆ 2019-10-04  │
│ tt0114709 ┆ 1995      ┆ 1995-11-22  │
│ tt0129167 ┆ 1999      ┆ 1999-08-06  │
└───────────┴───────────┴─────────────┘

In [144]:
# Table 3: movie_financials 
# - movie_id  
# - budget  
# - grossWorldwide  
movies_finance_df = df.select(['id','budget','grossWorldwide'])
movies_finance_df.head()

shape: (5, 3)
┌───────────┬──────────┬────────────────┐
│ id        ┆ budget   ┆ grossWorldwide │
│ ---       ┆ ---      ┆ ---            │
│ str       ┆ i64      ┆ i64            │
╞═══════════╪══════════╪════════════════╡
│ tt0266543 ┆ 94000000 ┆ 941637960      │
│ tt0080684 ┆ 18000000 ┆ 550016086      │
│ tt7286456 ┆ 55000000 ┆ 1078958629     │
│ tt0114709 ┆ 30000000 ┆ 394436586      │
│ tt0129167 ┆ 70000000 ┆ 23337631       │
└───────────┴──────────┴────────────────┘

In [145]:
# Table 4: location
# - movie_id  
# - filmingLocations  
# - countriesOrigin

movies_location_df = df.select(['id','filmingLocations','countriesOfOrigin'])
movies_location_df.tail(10)

shape: (10, 3)
┌────────────┬─────────────────────────────────┬───────────────────┐
│ id         ┆ filmingLocations                ┆ countriesOfOrigin │
│ ---        ┆ ---                             ┆ ---               │
│ str        ┆ list[str]                       ┆ list[str]         │
╞════════════╪═════════════════════════════════╪═══════════════════╡
│ tt0017136  ┆ ["Berlin, Germany"]             ┆ ["DE"]            │
│ tt0056172  ┆ ["Wadi Rum, Jordan"]            ┆ ["GB", "US"]      │
│ tt0107048  ┆ ["344 Fremont St, Woodstock, I… ┆ ["US"]            │
│ tt4633694  ┆ null                            ┆ ["CA", "US"]      │
│ tt0198781  ┆ ["Pixar Animation Studios - 12… ┆ ["US"]            │
│ tt0075148  ┆ ["1818 East Tusculum Street, K… ┆ ["US"]            │
│ tt0482571  ┆ ["Durango and Silverton Narrow… ┆ ["GB", "US"]      │
│ tt0118715  ┆ ["South Pasadena, California, … ┆ ["GB", "US"]      │
│ tt0083658  ┆ ["Bradbury Building - 304 S. B… ┆ ["US", "GB"]      │
│ tt16492678 ┆ null                            ┆ ["JP"]            │
└────────────┴─────────────────────────────────┴───────────────────┘

shape: (390, 3)
┌────────────┬─────────────────────────────────┬───────────────────┐
│ id         ┆ filmingLocations                ┆ countriesOfOrigin │
│ ---        ┆ ---                             ┆ ---               │
│ str        ┆ list[str]                       ┆ str               │
╞════════════╪═════════════════════════════════╪═══════════════════╡
│ tt0266543  ┆ ["Pixar Animation Studios - 12… ┆ US                │
│ tt0266543  ┆ ["Pixar Animation Studios - 12… ┆ JP                │
│ tt0080684  ┆ ["Hardangerjøkulen Glacier, Fi… ┆ US                │
│ tt7286456  ┆ ["1150 Anderson Ave, The Bronx… ┆ US                │
│ tt7286456  ┆ ["1150 Anderson Ave, The Bronx… ┆ CA                │
│ …          ┆ …                               ┆ …                 │
│ tt0118715  ┆ ["South Pasadena, California, … ┆ GB                │
│ tt0118715  ┆ ["South Pasadena, California, … ┆ US                │
│ tt0083658  ┆ ["Bradbury Building - 304 S. B… ┆ US                │
│ tt0083658  ┆ ["Bradbury Building - 304 S. B… ┆ GB                │
│ tt16492678 ┆ null                            ┆ JP                │
└────────────┴─────────────────────────────────┴───────────────────┘

In [147]:
# Table 5: production
movies_production_df = df.select(['id','productionCompanies'])
movies_production_df.head()

shape: (5, 2)
┌───────────┬─────────────────────────────────┐
│ id        ┆ productionCompanies             │
│ ---       ┆ ---                             │
│ str       ┆ list[struct[2]]                 │
╞═══════════╪═════════════════════════════════╡
│ tt0266543 ┆ [{"co0008970","Walt Disney Pic… │
│ tt0080684 ┆ [{"co0071326","Lucasfilm"}]     │
│ tt7286456 ┆ [{"co0002663","Warner Bros."},… │
│ tt0114709 ┆ [{"co0008970","Walt Disney Pic… │
│ tt0129167 ┆ [{"co0002663","Warner Bros."},… │
└───────────┴─────────────────────────────────┘

In [148]:
movies_production_df[0]

shape: (1, 2)
┌───────────┬─────────────────────────────────┐
│ id        ┆ productionCompanies             │
│ ---       ┆ ---                             │
│ str       ┆ list[struct[2]]                 │
╞═══════════╪═════════════════════════════════╡
│ tt0266543 ┆ [{"co0008970","Walt Disney Pic… │
└───────────┴─────────────────────────────────┘

In [149]:
# Explode, extract struct fields, and drop the original column
movies_production_df = (
    movies_production_df
    .explode("productionCompanies") 
    .with_columns(
        pl.col("productionCompanies").struct.field("id").alias("productionCompany_id"),
        pl.col("productionCompanies").struct.field("name").alias("productionCompany_name")
    )
    .drop("productionCompanies") 
)

print(movies_production_df)

shape: (574, 3)
┌────────────┬──────────────────────┬───────────────────────────┐
│ id         ┆ productionCompany_id ┆ productionCompany_name    │
│ ---        ┆ ---                  ┆ ---                       │
│ str        ┆ str                  ┆ str                       │
╞════════════╪══════════════════════╪═══════════════════════════╡
│ tt0266543  ┆ co0008970            ┆ Walt Disney Pictures      │
│ tt0266543  ┆ co0017902            ┆ Pixar Animation Studios   │
│ tt0080684  ┆ co0071326            ┆ Lucasfilm                 │
│ tt7286456  ┆ co0002663            ┆ Warner Bros.              │
│ tt7286456  ┆ co0227121            ┆ Village Roadshow Pictures │
│ …          ┆ …                    ┆ …                         │
│ tt0118715  ┆ co0057311            ┆ Working Title Films       │
│ tt0083658  ┆ co0042559            ┆ The Ladd Company          │
│ tt0083658  ┆ co0484967            ┆ Shaw Brothers             │
│ tt0083658  ┆ co0002663            ┆ Warner Bros.              │
│ tt16492678 ┆ null                 ┆ null                      │
└────────────┴──────────────────────┴───────────────────────────┘

In [150]:
# Table 7: external_links
# - movie_id  
# - externalLinks 

movies_url_df = df.select(['id','externalLinks'])
movies_url_df.head()

shape: (5, 2)
┌───────────┬─────────────────────────────────┐
│ id        ┆ externalLinks                   │
│ ---       ┆ ---                             │
│ str       ┆ list[str]                       │
╞═══════════╪═════════════════════════════════╡
│ tt0266543 ┆ ["https://www.facebook.com/Pix… │
│ tt0080684 ┆ ["https://www.lucasfilm.com/pr… │
│ tt7286456 ┆ ["https://www.facebook.com/jok… │
│ tt0114709 ┆ ["https://www.facebook.com/Pix… │
│ tt0129167 ┆ ["http://theirongiantmovie.com… │
└───────────┴─────────────────────────────────┘

In [151]:
# Table 6: user_interactions
# - movie_id  
# - interest  
# - averageRating  
# - numVotes
	

movie_user = df.select(['id','interests','averageRating','numVotes'])
movie_user = movie_user.explode('interests')
movie_user .head()

shape: (5, 4)
┌───────────┬────────────────────┬───────────────┬──────────┐
│ id        ┆ interests          ┆ averageRating ┆ numVotes │
│ ---       ┆ ---                ┆ ---           ┆ ---      │
│ str       ┆ str                ┆ f64           ┆ i64      │
╞═══════════╪════════════════════╪═══════════════╪══════════╡
│ tt0266543 ┆ Animal Adventure   ┆ 8.2           ┆ 1152296  │
│ tt0266543 ┆ Buddy Comedy       ┆ 8.2           ┆ 1152296  │
│ tt0266543 ┆ Computer Animation ┆ 8.2           ┆ 1152296  │
│ tt0266543 ┆ Quest              ┆ 8.2           ┆ 1152296  │
│ tt0266543 ┆ Sea Adventure      ┆ 8.2           ┆ 1152296  │
└───────────┴────────────────────┴───────────────┴──────────┘

In [152]:
movie_user.select('interests').unique()

shape: (139, 1)
┌─────────────────┐
│ interests       │
│ ---             │
│ str             │
╞═════════════════╡
│ Slice of Life   │
│ Adventure       │
│ Crime           │
│ Cop Drama       │
│ Romantic Comedy │
│ …               │
│ Legal Drama     │
│ Romantic Epic   │
│ Stoner Comedy   │
│ Tragic Romance  │
│ Financial Drama │
└─────────────────┘

In [153]:
## Table 7:
# - id
# - genres

movie_genre = df.select(['id','genres'])
movie_genre = movie_genre.explode('genres')
movie_genre.head()

shape: (5, 2)
┌───────────┬───────────┐
│ id        ┆ genres    │
│ ---       ┆ ---       │
│ str       ┆ str       │
╞═══════════╪═══════════╡
│ tt0266543 ┆ Adventure │
│ tt0266543 ┆ Animation │
│ tt0266543 ┆ Comedy    │
│ tt0080684 ┆ Action    │
│ tt0080684 ┆ Adventure │
└───────────┴───────────┘